﻿
@{
    ViewBag.Title = "Example";
}

<h2>Example</h2>

<div class="row">
    <div class="col-sm">col-sm</div> <div class="col-sm">col-sm</div> <div class="col-sm">col-sm</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
</div>

<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div> <p>Hello World</p>
</div>
<style>
    .previewsecondLevel {
        background-color: forestgreen;
        font-family: 'Comic Sans MS';
    }

    .preview {
        background-color: bisque;
        width: auto;
        padding: 2px;
        box-shadow: forestgreen;
        border-radius: 3px;
    }

    .preview2 {
        background-color: bisque;
        width: auto;
        padding: 5px;
        box-shadow: rgb(128, 128, 128);
        border-radius: 3px;
    }

    p {
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: 200;
    }
</style>